$small: 768px;
$medium: 900px;

$color-primary: #28A0CF;
//$color-secondary: #f08a5d;
//$color-tertiary: #b83b5e; 
$color-text-dark: #000;
$color-text-light: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.colorPrimary {
  color: $color-primary;
}

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $color-text-light;
  background-color: $color-text-light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

#root {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  a {
    color: $color-primary;
    text-decoration: inherit;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  .MuiButton-text {


    &:hover,
    &:active {
      background-color: transparent;
    }

    &:focus {
      background-color: transparent;
      color: $color-primary;
      border: none;
      outline: none;
    }
  }

  .sectionTitle {
    font-size: 36px;
    font-weight: 700;
    color: $color-text-dark;
    line-height: 54px;
  }

  .caseStudies {
    .clipPath {
      position: absolute;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .subtitle {
      color: $color-primary;
    }

    .text {
      color: $color-text-dark;
    }
  }


  .MuiButton-text.textBtn-dark {
    background-image: linear-gradient(to right,
        $color-primary,
        $color-primary 50%,
        $color-text-dark 50%);
    background-size: 200% 100%;
    background-position: 100%;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    span {
      background-image: linear-gradient(to right,
          $color-primary,
          $color-primary 50%,
          $color-text-light 50%);
      background-size: 200% 100%;
      background-position: 100%;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
      color: $color-text-dark;
    }

    &:hover {
      background-position: 0;

      span {
        background-position: 0;
        color: $color-primary;
        margin-left: 15px;
        transform: scale(1.3);
      }
    }


  }


  .MuiButton-text.textBtn-light {
    background-image: linear-gradient(to right,
        #00f1ff,
        #00f1ff 50%,
        $color-text-light 50%);
    background-size: 200% 100%;
    background-position: 100%;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    span {
      background-image: linear-gradient(to right,
          $color-primary,
          $color-primary 50%,
          $color-text-light 50%);
      background-size: 200% 100%;
      background-position: 100%;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
      color: $color-text-light;
    }

    &:hover {
      background-position: 0;

      span {
        color: #00f1ff;
        margin-left: 15px;
        transform: scale(1.3);
      }
    }


  }



  .MuiButton-text.textBtn-sky {
    background-image: linear-gradient(to right,
        $color-text-dark,
        $color-text-dark 50%,
        $color-primary 50%);
    padding: 0;
    background-size: 200% 100%;
    background-position: 100%;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 16px;

    span {
      background-image: linear-gradient(to right,
          $color-primary,
          $color-primary 50%,
          $color-text-light 50%);
      background-size: 200% 100%;
      background-position: 100%;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
      color: $color-primary;
      left: 0;
    }

    &:hover {
      background-position: 0;

      span {
        color: $color-text-dark;
        left: 5px;
      }
    }


  }







  /*Align*/
  .text-center {
    text-align: center;
  }

  /* Container */
  .fullWidth {
    width: 100%;
  }



  .btn {
    min-width: 134px;
    height: 45px;
    display: inline-block;
    border-radius: 4px;
    line-height: 45px;
    text-align: center;
    color: $color-text-light;
  }

  .btn-primary {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-text-light;

    &:hover {
      background-color: transparent;
      color: $color-primary;
    }
  }

  .btn-secondary {
    border-radius: 4px;
    border: 1px solid $color-primary;
    color: $color-primary;

    &:hover {
      background-color: $color-primary;
      color: $color-text-light;
    }

  }

  .container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
  }

  .containerFluid {
    width: 100%;
    padding: 0 15px;
  }

  img {
    width: auto;
  }




  button:focus,
  button:focus-visible {
    //outline: 4px auto -webkit-focus-ring-color;
  }

  /*Header*/

  .navHeader {
    background-color: transparent;
    box-shadow: none;
    transition: background-color 0.3s ease-in !important;

    

    &.fixedHeader {
      visibility: visible !important;
      transform: translateY(0px) !important;
      background-color: #000;
    }
  }

  .headerSearch {

    &:focus,
    &:hover {
      outline: none;
      color: $color-primary;
    }
  }

  .headerLogo {
    position: relative;
    z-index: 999;

    img {
      filter: invert(0) brightness(9);
      max-width: 326px;
      width: 100%;
    }
  }

  .navigationMenu {
    display: flex;

    h6 {
      font-weight: 700;
      text-transform: uppercase;
      color: $color-text-dark;
      font-size: 18px;
      border-left: 5px solid $color-primary;
      padding-left: 10px;
      padding-bottom: 0px;
      margin-bottom: 25px;

      a {
        font-size: 18px;
        color: $color-text-dark;

        &:hover {
          color: $color-primary;
        }
      }
    }

    li {
      transition: all 0.2s ease-in-out;


      a {
        padding: 20px 10px;
        position: relative;
        z-index: 999;
      }

      .dropdownChild {
        position: absolute;
        left: 0;
        top: 60px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        background-color: #fff;
        min-width: 300px;
        padding: 30px 15px 30px 15px;
        border: 1px solid $color-primary;
        border-radius: 3px;
        transition: all .6s;


        li {
          list-style: none;
          padding: 12px 0px 12px 0px;


          a {
            color: $color-text-dark;
            display: block;
            transform: none;
            font-weight: 400;
            font-size: 16px;
            line-height: normal;
            padding: 0;

            &:hover {
              color: $color-primary;
            }
          }

          h6 {
            margin-bottom: 0;

            a {
              font-size: 18px;
              font-weight: bold;
            }
          }
        }


      }

      &.dropdownParent {
        position: relative;

        .megaMenu {
          width: 100vw;
          position: fixed;
          left: 0;
          //transform: scale(0);


          top: 60px;
          visibility: hidden;
          opacity: 0;
          transition: all 0.6s;
          background-color: #fff;
          padding: 50px 30px;
          border: 1px solid $color-primary;
          border-radius: 3px;
          border: 1px solid $color-primary;

          h6 {
            margin-bottom: 25px;

            a {
              color: $color-text-dark;
              font-weight: bold;
              font-size: 18px;
              padding: 0;

              &:hover {
                color: $color-primary;
              }

            }
          }

          .dropdownChild {
            top: initial;

            position: relative;
            transition: all 0.3s;
            background-color: transparent;
            min-width: auto;
            padding: 0;
            padding-left: 15px;
            border: none;
            border-left: 1px solid #ccc;
            border-radius: 3px;

            &.col2 {
              column-count: 2;
              column-gap: 20px;
              border: none;
              padding: 0;

              li {
                padding-bottom: 24px;
                padding-top: 0;
                border-left: 1px solid #ccc;
                padding-left: 15px;
              }
            }

            li {

              &:first-child {
                padding-top: 0;
              }

              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }




        &:hover {
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $color-primary;

          }

          .dropdownChild {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            top: 64px;
          }

          .megaMenu {
            visibility: visible;
            opacity: 1;
            top: 64px;
            height: auto;
            transform: scale(1);

            .dropdownChild {
              top: inherit;
              ;
            }

          }
        }

      }

      a {
        color: $color-text-light;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        transition: all 0.2s ease-in-out;
        display: flex;

        svg {
          transition: all .3s;
        }



        span {
          vertical-align: top;
        }


      }

      &:hover {
        a {
          color: $color-primary;
        }

        &.active,
        &:hover {
          color: $color-primary;

          svg {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }

  /*Mobile Navigation*/
  .mobileMenu {
    &:focus {
      outline: none;
    }
  }

  .mobileNavSidebar {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .header {
      padding: 5px 15px;
      background-color: $color-primary;
      display: flex;
      gap: 25px;
      width: 100%;
      flex-wrap: nowrap;
      flex-direction: row;

      .mobileLogo {
        display: flex;
        align-items: center;

        img {
          filter: invert(0) brightness(9);
          max-width: 100%;
        }
      }

      button {
        padding: 0;

        &:focus {
          outline: none;
        }
      }
    }

    ul {
      li {
        padding: 0 15px;
        text-align: left;
        border-bottom: 1px solid #ccc;
        min-height: 48px;
        display: block;
        line-height: 48px;

        &:last-child {
          border-bottom: none;
        }

        a {
          text-transform: uppercase;
        }

        .dropDownLink {
          li {
            padding: 7px 0;
            line-height: normal;
            min-height: auto;


            a {
              min-height: auto;
              line-height: normal;
              color: $color-text-dark;
              text-transform: none;
            }
          }
        }

        .MuiAccordionSummary-content {
          margin: 0;
        }

        .Mui-expanded {
          margin: 0;

          .MuiCollapse-root {
            padding-left: 10px;
          }

          .MuiAccordionSummary-root.Mui-expanded {
            min-height: 48px;
            border-bottom: 1px solid #ccc;

            .MuiAccordionSummary-content {
              margin: 0;

              a {
                color: $color-primary;
              }
            }
          }
        }

        a {
          text-decoration: none;
          color: $color-text-dark;


          &.active,
          &:hover {
            color: $color-primary !important;
          }
        }
      }

      &.megaOtherTitle {
        border-top: 1px solid #ccc;
        

        li {
          padding: 0;
        }
      }

      &.dropDowns {
        li {
          padding: 7px 0;
          line-height: normal;
          min-height: auto;

          a {
            text-transform: none;
          }
        }
      }
    }

  }

  /*Home Banner*/


  .mainBanner {
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    width: 100%;
    z-index: 99;
    position: relative;

    .videoBg {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -9;

      video {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }

      .videoOverlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgb(0 0 0 / 66%) 0%, rgba(255, 255, 255, 0) 20%);
        left: 0;
        top: 0;
      }
    }

    .bannerContent {
      display: flex;
      height: 100vh;
      min-height: 500px;
      max-height: 800px;
      width: 100%;
      align-items: end;

      .bannerContentInner {
        width: 100%;
        color: $color-text-light;
        border-left: 5px solid $color-primary;
        padding: 25px 0px 25px 40px;
        border-radius: 10px;
        background: linear-gradient(90.14deg, rgba(40, 160, 207, 0.23) 2.37%, rgba(0, 0, 0, 0.23) 95.12%);
        margin-bottom: 50px;

        .bannerDescription {
          font-size: 18px;
          line-height: 27px;
          font-weight: 500;
        }

        .bannerHeading {
          font-size: 50px;
          font-weight: 500;
          line-height: 81px;
        }

        .bannerSubHeading {
          font-size: 24px;
          line-height: 26px;
          font-weight: 600;
          color: $color-primary;
        }

        .bannerButtons {
          margin-top: 30px;

          a {
            width: 134px;
            height: 45px;
            border-radius: 4px;
          }
        }
      }
    }
  }

  /*Service*/

  .homeServices {
    .mySwiper {
      //min-height: 640px;
      height: 640px !important;
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 90px;
      margin-top: 80px;
      box-sizing: content-box;

      .swiper-slide-active+div+div+div+div+div+div,
      .swiper-slide-active+div+div+div+div+div+div+div {
        .slideWrapper {
          &:hover {
            .serviceApend {

              transform: scaleX(1);
              width: calc(200% + 40px);
              height: 100%;
              left: inherit;
              right: 0;

              button {
                &:hover {
                  color: $color-primary;
                }
              }

            }
          }
        }
      }


      .swiper-slide {


        /* Center slide text vertically */
        justify-content: center;
        align-items: center;
        overflow: visible;


        text-align: center;
        font-size: 18px;
        background: #fff;
        height: calc((100% - 40px) / 2) !important;

        &:hover {
          z-index: 999;

          .slide-content {
            width: calc(200% + 30px);
            overflow: visible;
            height: 100%;
          }
        }

        .slideWrapper {
          height: 100%;
          background-size: cover;
          padding: 15px 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;


          position: relative;
          overflow: visible;
          width: 100%;
          transition: all 0.5s linear;
          animation-delay: 1000ms;

          .slide-content {
            transition: ease .3s;
            transform: scaleX(1);
            width: 100%;
            transition: transform 0.3s ease, width 0.3s ease;
            text-align: left;

            .serviceItemDesc {
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              /* number of lines to show */
              line-clamp: 4;
              -webkit-box-orient: vertical;
            }
          }

          .subtitle {
            color: $color-primary;
          }

          .title {
            color: $color-text-light;
            font-size: 24px;
            line-height: 36px;


          }

          button {
            justify-content: start;
            gap: 5px;
          }
        }
      }

      .customBottomNav {
        position: relative;
        overflow: visible;
        width: 100%;
        margin-top: 20px;


        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        height: 27px;

        .swiper-pagination-bullets.swiper-pagination-horizontal {
          width: auto;
          display: flex;
          gap: 10px;

          .swiper-pagination-bullet {
            border-radius: 0;
            height: 10px;
            width: 10px;
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          font-size: 16px;
          width: auto;
          position: relative;
          right: inherit;
          left: inherit;

          &:after {
            display: none;
          }

          svg {
            width: 32px;
            height: 25px;
          }
        }
      }



      .slideWrapper {




        .serviceApend {
          position: absolute;
          transform: scaleX(0);
          visibility: hidden;
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transition: all 0.6s;
        }

        &:hover {

          z-index: 99 !important;
          background-color: #F5F5F5;
          text-align: center;

          margin-right: 110%;
          text-align: center;

          .serviceApend {

            transform: scaleX(1);
            width: calc(200% + 40px);
            height: 100%;
            visibility: visible;
            opacity: 1;

            .description {
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              /* number of lines to show */
              line-clamp: 3;
              -webkit-box-orient: vertical;
            }

            button.MuiButton-text {
              color: $color-text-dark;

              &:hover {
                color: $color-primary;
              }
            }

            .title {
              color: $color-text-dark;
            }

            .serviceExpandBtn {
              width: auto;
              color: $color-text-light;
              opacity: 1;
              visibility: visible;
            }

          }
        }
      }
    }

    /* Add this CSS */
  }

  /*Footer*/
  .footer {
    background-image: url(/src/assets/img/footer.jpg);
    background-size: cover;
    background-position: bottom right;
    color: $color-text-dark;
    margin-top: 50px;
    background-repeat: no-repeat;

    .footerTop {
      .fCol3 {
        padding-right: 50px;
      }

      .contactInfo {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .contactInfoItem {
          display: flex;
          gap: 15px;
          align-items: center;

          .contactInfoItem__icon {
            font-size: 25px;
          }
        }
      }

      p {
        line-height: 30px;
      }

      .footerSocial {
        margin-top: 30px;
        display: flex;
        gap: 30px;

        li {
          a {
            font-size: 22px;
          }
        }
      }
    }

    .footerBottom {

      padding: 15px 0;
      margin-top: 30px;
      border-top: 1px solid $color-text-dark;

    }

    .footerCol {
      a {
        color: $color-text-dark;
        transition: all 0.3s;

        &:hover {
          color: $color-primary;
        }
      }

      h4 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        position: relative;
        padding-bottom: 5px;
        margin-bottom: 25px;

        &::after {
          content: "";
          left: 0;
          bottom: 0;
          position: absolute;
          width: 32px;
          height: 2px;
          background-color: $color-primary;
        }
      }

      ul {
        li {
          padding: 8px 0;



          a {
            color: $color-text-dark;
            line-height: 30px;

            &:hover {
              color: $color-primary;
            }
          }
        }
      }

      &.fCol1 {
        padding-right: 50px;
      }
    }
  }

  /*Swiper Carousel*/
  .features {
    //padding-bottom: 100px;
    position: relative;

    .morServicesBtn {
      position: absolute;
      bottom: 40px;
      z-index: 99;
      text-align: center;
      width: 100%;

      a {

        font-size: 18px;
        color: $color-text-light;

        &:hover {
          color: $color-primary;
        }
      }
    }

    .swiper-slide {
      min-height: 650px;
      max-height: 750px;

      .slideWrapper {
        display: flex;
        align-items: start;
        height: 100%;
        padding-top: 80px;

        box-sizing: border-box;

        .slide-content {
          background: linear-gradient(94.77deg, rgba(40, 160, 207, 0.6) 3.86%, rgba(0, 0, 0, 0.6) 96.9%);
          padding: 40px 25px 40px 50px;
          border-left: 5px solid $color-primary;
          max-width: 700px;

          .title {
            color: $color-text-light;
            font-size: 24px;
            line-height: 36px;
            font-weight: bold;


          }

          .labelCustom {
            background-color: $color-text-light;
            color: $color-primary;
            font-weight: 500;
            line-height: 24px;
            border-radius: 4px;
            padding: 5px 12px;
          }
        }
      }
    }

    .swiper-pagination {
      display: flex;
      width: 100%;
      justify-content: center;
      bottom: 90px;
      top: inherit;
      max-width: 1448px;
      padding: 0 24px;
      margin: 0 auto;
      position: absolute;
      //margin-top: -121px;
      z-index: 9999;
      left: 0;
      right: 0;

      .swiper-pagination-bullet {
        flex: 1 1 0;
        width: 0;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: auto;
        height: 100%;
        border-radius: 0;
        background-color: transparent;
        //gap: 25px;
        gap: 10px;
        color: $color-text-light;
        opacity: 1;
        margin: 0;

        span {
          padding-right: 30px;
        }

        span {
          &:first-child {
            font-size: 18px;
            font-weight: 700;
          }
        }

        .slidebar {
          background: #fff;
          height: 2px;
          width: 100%;
        }
      }

      .swiper-pagination-bullet-active {
        .slidebar {
          background: $color-primary;
        }
      }
    }
  }

  .mySwiper {}

  .insight {
    .insigtLeftSide {
      display: flex;
      flex-direction: column;
      align-items: self-end;

      .insightBottomNav {
        max-width: 400px;
      }
    }

    .leftSideTitles {
      max-width: 400px;
    }

    .insigtSwipperRight {
      width: 100%;
      height: 100vh;
      min-height: 100%;


    }

    .titleBtn {

      button {
        @media screen and (max-width: 1280px) {
          width: 100%;
        }
      }
    }

    button {
      padding-top: 9px;
      padding-bottom: 9px;
      font-weight: 500;
      border-radius: 0;
      font-size: 16px;
      text-transform: none;
      width: 100%;
      transition: all 0.6s;


      @media screen and (max-width: 1280px) {
        white-space: nowrap;
        text-align: center;
        display: inline-block;
        overflow: hidden;


        font-size: 13px;
        padding: 5px 10px;

        width: 100%;
      }




      &:hover {
        background-color: $color-primary;
        color: $color-text-light;
      }

      &:focus {
        outline: none;
      }
    }

    .bottomButton {
      color: #fff;
    }

    .sectionTitle {}

    .slideWrapper {
      height: 100%;
      display: flex;
      align-items: end;

      .slide-content {
        max-width: 514px;
        padding: 0px 0px 25px 50px;
        color: #fff;


        .title {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }

    .insightNav {
      position: relative;
      margin-top: 0;

      * {
        left: inherit;
        right: inherit;
        position: relative;
      }

    }
  }

  /*Newsletter*/
  .newsletter {
    color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 70px;
    border: 2px solid $color-primary;
    border-radius: 4px;
    padding: 44px 25px;



    h2 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 42px;


    }

    p {
      font-size: 26px;


    }



    label {
      color: #fff;
      font-weight: bold;
    }

    button {
      color: #fff;
      height: 75px;
      position: absolute;
      right: 20px;
      top: 0;

    }

    input {
      background-color: $color-primary;
      border: none;
      height: 75px;
      width: 100%;
      color: #fff;
      border-radius: 4px;
      padding: 20px;



      &::placeholder {
        color: #fff;
        font-weight: bold;
      }
    }


  }
}

// Body Closing

/*Animation*/
@keyframes animateArrow {
  0% {
    opacity: 0;
    transform: translate(-5px, 0px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(5px, 0px);
  }
}

@media only screen and (max-width: $small) {
  body {
    .sectionTitle {
      font-size: 28px;
      line-height: normal;
    }

    .headerLogo {
      width: calc(100% - 20px);
    }

    .mainBanner {
      .bannerContent {
        align-items: center;

        .bannerContentInner {
          margin-bottom: 0;
          margin-top: 50px;
          padding: 15px;
          background: linear-gradient(90.14deg, rgb(0 0 0 / 54%) 2.37%, rgb(6 168 216 / 23%) 95.12%);

          .bannerHeading {

            font-size: 32px;
            line-height: 36px;
            margin: 10px auto;
          }

          .bannerSubHeading {
            font-size: 18px;
          }

          .bannerDescription {
            font-size: 16px;
          }
        }
      }
    }



    .features {

      .morServicesBtn {
        bottom: 25px;

        a {
          font-size: 16px;
        }
      }


      .swiper-pagination {
        height: auto;
        padding: 0 5px;

        .swiper-pagination-bullet {
          gap: 15px;

          span {
            padding-right: 5px;
            font-size: 12px;
          }
        }
      }

      .swiper-wrapper {
        .swiper-slide {
          max-height: 700px;


          .slideWrapper {
            padding-top: 50px;

            .slide-content {
              padding: 30px 15px 15px 15px;

              .title {

                font-size: 20px;
                line-height: normal;

              }
            }
          }
        }
      }
    }

    .caseStudies {
      .clipPath {
        position: relative;

        img {
          object-fit: cover;
          height: 100%;
          width: calc(100% + 32px);
          margin-left: -16px;
          float: left;
          z-index: 9999;
          position: relative;
        }
      }
    }

    .homeServices {
      .mySwiper {

        padding-bottom: 50px;
        margin-top: 50px;
        max-height: 700px;

        .swiper-slide {
          .slideWrapper {
            .title {

              font-size: 18px;
              line-height: normal;

            }

            .serviceExpandBtn {
              display: none;
            }
          }
        }

        .customBottomNav {
          margin-top: 0;
        }
      }
    }

    .insight {
      .insigtSwipperRight {

        height: 50vh;
        min-height: 400px;

      }

      .slideWrapper {


        .slide-content {

          padding: 0 15px;

          .title {
            font-size: 20px;
          }
        }
      }


    }



    .footer {
      //background-image: url(/src/assets/img/footer-mobile.jpg);
      background-size: auto 500px;
      background-position: bottom right;

      .footerTop {
        .contactInfo {
          gap: 10px;
        }
      }

      .footerCol {
        h4 {
          margin-bottom: 15px;
        }

        ul {
          li {
            padding: 0;
          }
        }
      }


    }

    .newsletter {
      margin-bottom: 35px;
      margin-top: 35px;
      padding: 15px;

      h2 {

        font-size: 28px;

      }

      p {

        font-size: 16px;

      }

      button {
        right: 0px;
        height: 50px;
        top: 15px;

        svg {
          top: 0;
          width: 24px;
        }

      }

      input {
        height: 50px;
        margin-top: 15px;
        padding: 15px;
      }
    }

  }
}



/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

  /* Styles */
  body {
    .mainBanner {
      max-height: 600px;

      &>div {
        height: 100%;
      }

      .bannerContent {
        height: 100%;

        .bannerContentInner {}
      }
    }

    .features {
      .swiper-slide {
        min-height: 700px;
        max-height: 750px;
      }

      .swiper-pagination {
        padding: 0 15px;
      }
    }

    .homeServices {
      .mySwiper {
        margin-top: 50px;

        .slideWrapper {
          .serviceItemDesc {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;

          }

          .serviceExpandBtn {
            display: none;
          }
        }
      }
    }


    .caseStudies {
      .clipPath {
        img {
          width: calc(100% + 48px);
          margin-left: -24px;
        }
      }
    }

    .footer {
      background-size: contain;

      .footerCol {
        ul {
          li {
            padding: 0;
          }
        }
      }
    }

  }
}

@media only screen and (max-width : 900px) {
  body {
    .insight {
      .insigtLeftSide {
        display: block;

        .leftSideTitles {
          max-width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-device-width : 600px) and (max-device-width : 991px) {
  body {
    .caseStudies {
      img {
        width: calc(100% + 48px);
        //margin-left: -24px;
      }
    }

    .insight {
      .insigtSwipperRight {
        //min-height: 80vh;
      }
    }
  }

}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* Styles */
  .mainBanner {
    max-height: 600px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 900px) and (max-width : 1200px) {

  /* Styles */
  body {
    .caseStudies {
      .clipPath {
        -webkit-clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 45% 100%);
        clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 45% 100%);

        img {
          object-position: right;
          object-fit: contain;
        }
      }
    }

    .newsletter {
      padding: 20px 25px;

      h2 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
      }

      input {
        height: 55px;
      }

      button {
        height: 55px;
        right: 0;

        svg {
          width: 28px;
        }
      }
    }

    .footer {

      .contactInfoItem,
      p {
        font-size: 14px;
      }

      .footerCol {

        &.fCol1,
        &.fCol3 {
          padding-right: 0px;
        }

        ul {
          li {
            a {
              font-size: 14px;
            }
          }
        }

        .contactInfo {
          gap: 5px;
        }

      }
    }
  }
}

@media only screen and (min-width : 1280px) and (max-width : 1450px) {
  body {
    .insight {
      button {
        font-size: 14px;
      }
    }

    .leftSideTitles {
      max-width: 400px;
    }
  }
}

@media only screen and (min-width : 1201px) and (max-width : 1349px) {
  body {
    .headerLogo {
      img {
        max-width: 295px;
      }
    }

    .navigationMenu {
      li {
        a {
          padding-left: 5px;
          padding-right: 5px;
          font-size: 14px;
        }
      }
    }
  }
}